@import url('https://fonts.cdnfonts.com/css/satoshi');
                
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html
body{
  display: flex;
  background-color: rgb(0, 0, 0);
  font-family: 'Satoshi', sans-serif;

}
a{
  text-decoration: none;
  color: white;
}
p{
  text-align: center;
  margin: 3rem auto;
  font-size: 1.5rem;
  font-weight: 600;
  width: 55%;
}
.title{
  background: #ffbd2b;
  color: black;
  padding: 0.1rem;
  font-weight: bold;
}
.title-footer{
  display: block;
  margin: 0.5rem auto;
  padding: 0.5rem;
}